###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.cs eol=crlf
*.sln eol=crlf
*.csproj eol=crlf
*.config eol=crlf
*.md=lf